
.content{
	flex:1;
	margin:0 50px;
	display:flex;
	align-items: stretch;
	justify-content: stretch;

	&-layer{
		height:100%;
		width:100%;
	}

	&-layers{
		background-color: rgba($c-onyx, 0.1);
		position:relative;
		flex:1;
	}

	&-layer{
		background-size: contain;
		background-repeat:no-repeat;
		background-position: center;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
		transition:transform 0.3s linear;
	}

	@include max-query($d-max-small){
		margin:0;
	}
}